Repository zelebwr/learning-hub, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, workflow, roadmap, resource

test: trigger github actions for verification
  .github/workflows/markdown-lint.yml
  README.md
Labels: documentation, workflow

ci: changed folder name into ISSUE_TEMPLATE and changed the name for the makrdown-linter.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/NEW_LEARNING_TOPIC.md
  .github/ISSUE_TEMPLATE/PROJECT_TASK.md
  .github/workflows/markdown-linter.yml
  README.md
Labels: documentation, workflow

ci: changed folder name into ISSUE_TEMPLATE and changed the name for the makrdown-linter.yml
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/NEW_LEARNING_TOPIC.md
  .github/ISSUE_TEMPLATE/PROJECT_TASK.md
  .github/workflows/markdown-linter.yml
  README.md
Labels: documentation, workflow

style: ~/README.md so that there are no errors, for testing purposes
  README.md
Labels: documentation

style: ~/README.md so that there are no errors, for testing purposes
  README.md
Labels: documentation

test: trigger github actions for verification, pt.2
  README.md
Labels: documentation

test: trigger github actions for verification, pt.2
  README.md
Labels: documentation

fix(workflow): swtich to kentaro-m auto-assign action
  .github/auto_assign.yml
  .github/workflows/auto-assign-reviewer.yml
Labels: workflow

fix(workflow): switch to kentaro-m auto-assign action
  .github/auto_assign.yml
  .github/workflows/auto-assign-reviewer.yml
Labels: workflow

.github/labeler.yml:

documentation:
  - README.md
  - CONTRIBUTING.md
  - WORKFLOWS.md
  - HOW_TO_USE_TEMPLATES.md

workflow:
  - .github/workflows/*

roadmap:
  - learning-roadmaps/*

resource:
  - resources/*
